.delete-spot-modal {
  padding: 20px;
  border-radius: 8px;

  text-align: center;
  max-width: 400px;
  margin: auto;
}

.delete-spot-modal h3 {
  color: #e51e53;
  margin-bottom: 15px;
}

.delete-spot-modal p {
  color: #333;
  margin-bottom: 20px;
}

.delete-spot-modal button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: lightgray;
  cursor: pointer;
  font-size: 1rem;
  margin: 5px;
  transition: background-color 0.3s;
}

.delete-spot-modal button:hover {
  background-color: rgb(60, 207, 134);
}

.yes-delete-spot {
  background-color: #e51e53;
  color: white;
}

.delete-spot-modal button:nth-child(3) {
  color: white;
}
button.yes-delete-spot {
  background-color: #cb1548;
}

button.yes-delete-spot:hover {
  background-color: #b81040;
}
