.landing-page {
  font-family: "Montserrat", sans-serif;
  padding: 0px;
  margin: 0px;
}

.spots-title {
  font-family: "Montserrat", sans-serif;
}

.spot-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 50px;
}

.spot-tile {
  position: relative; /* Add this for tooltip positioning */
  max-width: 100%;
  height: 600px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.tooltip {
  position: relative;
  text-align: center;
  /* border: 1px solid black; */
  /* border-radius: 3px; */
  background-color: white;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  margin-bottom: 2px;
  width: 50%;
  transition: opacity 0.3s ease-in-out;
}

.spot-tile:hover .tooltip {
  visibility: visible;
  transform: translateX(50%);
  transition: opacity 0.3s ease-in-out;
  opacity: 0.5;
  /* box-shadow: 5 2 2px rgba(0, 0, 0, 0.2); */
}

.spot-image {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.spot-name {
  font-size: 1.5rem;
  margin-bottom: 10px;
  padding: 0px;
}

.spot-link {
  text-decoration: none;
  color: inherit;
}

.display-rating,
.spot-rating,
.spot-price,
.spot-location {
  margin-top: 0;
  padding: 0px;
}

.spot-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.spot-rating {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

::before {
  margin-right: 6px;
  position: relative;
  bottom: 1px;
}
