.spot-body {
  margin: 100px;
  font-family: "Montserrat", sans-serif;
}

.spot-info {
  display: flex;
  justify-content: center;
  margin: auto;
  box-sizing: border-box;
}
.right-box {
  border: solid;
  position: relative;

  display: flex;

  border: 1px solid #ddd;
  position: relative;
  width: 300px;
  display: flex;
  padding-left: 50px;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 20px;
  font-family: "Montserrat", sans-serif;
}
.rating-price {
  display: flex;
  justify-content: space-between;
}
h1 {
  font-family: "Montserrat", sans-serif;
}

.positioner {
  display: flex;
  justify-content: space-between;
  border-bottom: solid;
}

.reserve {
  background-color: #008cba;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.reserve:hover {
  background-color: #0073a1;
  transform: scale(1.05);
}

.reserve:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}

.large-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
}

.spot-image-large {
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.1);
  width: 800px;
  height: 500px;
  object-fit: cover;
}

.image-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  width: 500px;
}

.spot-image-small {
  width: 100%;
  height: 210px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .large-box {
    flex-direction: column;
  }

  .spot-image-large,
  .image-list {
    width: 400px;
    height: 300px;
  }

  .image-list {
    display: none;
  }
}
