body {
	margin: 0;
}

.header-ul {
	display: flex;
	justify-content: space-between;
	padding: 0;
	position: relative;
	top: -100px;
}
.logo {
	width: 105px;
	height: 105px;
	padding: 15px 20px;
}
.logo:hover {
	background-color: #f5f5f5;
}

.profile-button {
	background-color: #f5f5f5;
	width: 80px;
	height: 40px;
	margin-right: 50px;
	margin-top: 30px;
	border-radius: 30px;
	/* border-color: #000000; */
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

li {
	list-style-type: none;
}

.profile-dropdown {
	box-sizing: border-box;
	position: absolute;
	/* border: 1px solid black; */
	right: 50px;
	width: 100px;
	padding: 10px;
	border-radius: 10px;
	background-color: #ffffff;
	box-shadow: #484848 2px 2px 4px;
}

.hidden {
	display: none;
}
