.profile-elements {
  /* margin-left: 60px; */

  font-family: "Montserrat", sans-serif;
  position: relative; /* Establishes a positioning context for the dropdown */
}

ul.profile-dropdown {
  position: absolute;
  top: 100%; /* Aligns the top of the dropdown with the bottom of the button */
  /* Aligns the dropdown with the left edge of the button */
  width: fit-content;
  background-color: #ffffff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 12px 16px;
  list-style: none;
  z-index: 2;

  /* Remove the 'right' and 'top' properties */
}
ul.profile-dropdown li {
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.2s;
}

ul.profile-dropdown li:hover {
  background-color: #f5f5f5;
}

ul.profile-dropdown li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

li.user-name,
li.user-email {
  color: #333;
  padding: 8px 0;
  border-bottom: 1px solid #e0e0e0;
}

a.manage-spots {
  display: block;
  color: #008cba;
  padding: 8px 0;
  text-decoration: none;
}

a.manage-spots:hover {
  color: #005f6b;
}

.log-out-button {
  background-color: #e51e53; /* Red background */
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  width: 100%;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.log-out-button:hover {
  background-color: #c41447;
}
